{% extends 'advertisements_app/base_advertisements.html' %}

{% block title %}
    advertisements-list
{% endblock title %}

{% block content %}
    {% if advertisements_list %}
        <ul>
             {% for advertisement in advertisements_list %}
                 <li>
                     <a href="{% url 'advertisement_detail' advertisement.id %}">{{ advertisement.title }}</a> | {{ advertisement.price }} р | {{ advertisement.category }}
                 </li>
             {% endfor %}
        </ul>
    {% else %}
        <h3>Объявлений нету!</h3>
    {% endif %}
{% endblock content %}