{% extends 'advertisements_app/base_advertisements.html' %}
{% load usd_price %}
{% block title %}
    {{ advertisement.title }}
{% endblock title %}
{% block content %}
    <h1>{{ advertisement.title }}</h1>
    <p>Цена: {{ advertisement.price }}р Цена в долларах: {{ advertisement.price|usd_price }}$</p>
    <p>{{ advertisement.description }}</p>
    <p>Категория: {{ advertisement.category }}</p>
    <p>Тип: {{ advertisement.type }}</p>
    <h3>Контактная информация: </h3>
    <p>Автор: {{ advertisement.author }}</p>
    <p>Почта: {{ advertisement.author.email }}</p>
    <p>Телефон: {{ advertisement.author.phone_number }}</p>
    <p>Количество просмотров: {{ advertisement.views_count }}</p>
{% endblock content %}