<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Прошел все курсы на SkillBox. Продаю готовые домашние задания.</h1>
    <ul>
        <li><a href="{% url "python_course" %}">Курс по питону</a></li>
        <li><a href="{% url "java_course" %}">Курс по джаве</a></li>
        <li><a href="{% url "web_developer_course" %}">Курс по веб разработке</a></li>
        <li><a href="{% url "frontend_course" %}">Курс по frontend</a></li>
        <li><a href="{% url "ios_developer_course" %}">Курс по ios разработке</a></li>
    </ul>
</body>
</html>