{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<img src="{{ MEDIA_URL }}image/ios_developer.png" alt="ios_developer_course" width="700"> <br>
<a href="https://skillbox.ru/course/profession-ios-developer/">Ссылка на курс по ios разработке</a>
<h4>Цена решения 7 хандред бакса</h4>
</body>
</html>